.category-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 40px;
    margin-top: 50px;
}

.category-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.category-item h1 {
    font-size: 30px;
    color: grey;
    margin-bottom: 10px;
}

.openNews {
    margin-top: 10px;
    height: 40px;
    background-color: rgb(238, 150, 17);
    border: none;
    border-radius: 5px;
   
}
.openNews a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}