.main-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }