.main-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: ce;
    margin: 0 auto;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  .slogan {
    color: black;
  }
  .category-list {
    display: flex;
    flex-wrap: wrap;
  }


